/* -------------PÁGINA PRINCIPAL------------------------*/
/* 
PALETA DE COLORES:

rgb(25, 60, 93) - Fondos (color logo)
#1C4C96 - Titulos

#256EdC - Titulos2
#427ed7 - Titulos3
#5f95e7 - Titulos4
#97bdf5 - Extra


*/
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
    background: #e0dbdb
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #1C4C96;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.titulo2{
    color: #1C4C96;
    font-size: 25px;
    text-align: left;
    margin-left: 15%;
    margin-bottom: 25px;
}

.text{
    font-size: 20px;
    margin-left: 100px;
    margin-right: 75px;

}

/* Header */

header{
    width: 100%;
    height: 600px;
}

.encabezado{
    background-color: #193c5d;
    width: auto;
    height: 65px;
}

/* CONTACTO */

.contacto{
    font-size: 15px;
    color: #fff;
    position: block;
    margin-right: 2%;
    text-align: right;
}

.contacto i{
    margin-left: 2px;
    margin-right: 2px;
    color: #fff;
}

.contacto .fa-instagram:hover{
    color: #e1306c;
}

.contacto .fa-twitter:hover{
    color: #00acee;
}

.contacto .fa-linkedin:hover{
    color: #0077b5;
}

.contacto .fa-youtube:hover{
    color: #FF0000;
}

/* MENU */

nav{
    max-width: 900px;
    margin: auto;
    font-size: 20px;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu-horizontal > li > a{
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.menu-horizontal > li > p{
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.menu-horizontal > li:hover{
    background-color: rgb(27, 27, 27);
    height: 45px;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical > li:hover{
    background-color: black;
}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}


header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: rgb(38, 110, 220);
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

/* About us */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros{
    margin-left: 10%;
    /* justify-content: space-evenly; */
    display: flex;
    flex-direction: row;
}

.imagen-about-us{
    order: 2;
    width: 300px;
    height: 300px;
    padding-right: 0px;
}

.sobre-nosotros .contenido-textos{
    width: 59%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #1C4C96;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    margin-right: 8%;
}

/* ÚLTIMAS NOTICIAS */

.ultimas{
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ultimas img{
    width: 350px;
    height: 350px;
}

.ultimas p{
    color: #000;
    text-align: center;
    padding: 10px;

}

div.not{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 rgba(0, 0, 0, 19);
    float: left;
    width: 350px;
}

/* footer */

footer{
    background: rgb(25, 60, 93);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid gray;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #e3e3e3;
    border-bottom: 3px solid #b1b1b1;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ffffff;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

/*-------------------PATROCINADORES---------------------------*/

.partners{
    width: 70%;
    margin: auto; 
    list-style: none;
    padding: 20px;
    box-sizing: auto;
    display: flex;
    flex-wrap: wrap;
}

.partners img{
    width: 200px;
    height: 150px;
}

.partners p{
    color: #000;
    text-align: center;
    padding: 10px;

}

div.plogo{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 rgba(0, 0, 0, 19);
    float: left;
    width: 200px;
    height: 200px;
}



/* ------------------------NOTICIAS---------------------------------------*/


.cuadro-noticia{
    width: 90%;
    margin: auto;
    padding: 20px;
    box-sizing: auto;
    display: grid;
}

.cuadro-noticia img{
    width: 200px;
    height: 200px;
    position: absolute;

}

.cuadro-noticia p{
    color: #000;
    padding: 20px;
    margin-block-end: auto;
}

div.contenido-cuadro{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 rgb(25, 60, 93), 0 6px 20px 0 rgb(0 0 0);
    align-items: left;
    width: 90%;
    height: 200px;
    overflow: auto;
}

.titular{
    font-size: 20px;
    color: #642a73;
    margin-left: 200px;
    position: relative;
    text-align: justify;
}

.titular-secundario{
    font-size: 15px;
    text-justify: distribute;
    color:  #fff;
    text-align: justify;
    margin-left: 215px;
    margin-right: 10%;
    margin-top: -35px;
}

/* NOTICIA FLOTANTE*/

.noticias{
    display:none;
}

.noticias:target{
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
}

.noticias p{
    margin-left: 400px;
    margin-right: 100px;
    text-align: justify;
}

.noticias h2{
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}

.imagen-noticias{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-right: 25px;
    position: absolute;
}

.imagen-noticias a{
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.cerrar{
    display: block;
    background: #000;
    width: 25px;
    height: 25px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    line-height: 15px;
}

/* -----------------------MIEMBROS-------------------*/

.miembros{
    width: 80%;
    margin: auto; 
    list-style: none;
    padding: 20px;
    box-sizing: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.miembros img{
    width: 275px;
    height: 300px;
}

.miembros p{
    color: #000;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

div.foto-miembro{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 rgba(0, 0, 0, 19);
    float: left;
    width: 275px;
    height: 400px;
}


/*-----------------------GALERIA--------------------------*/

.galeria{
    width: 10%;
    margin-bottom: 25px;
    list-style: none;
    padding: 20px;
    margin-left: 100px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: grey;
    text-align: center;
}

.galeria li{
    margin: 5px;
}

.galeria img{
    width: 150px;
    height: 100px;
}

.modal{
    display:none
}

.modal:target{
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.foto{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto a{
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin-top: 400px;
    margin-left: 10px;
    margin-right: 10px;
}

.foto a:nth-child(2){
    margin-top: 25%;
    height: 100%;
    flex-shrink: 2;
}

.foto img{
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}

.cerrar{
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin-top: 250px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: black;
    padding: 5px;
    border-radius: 50%;
    line-height: 12px;
}

/*-----------------------SCROLLBAR--------------------------*/

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track{
    background: lightgray;
}

::-webkit-scrollbar-thumb{
    background: rgb(25, 60, 93);
    border-radius: 10px;
    width: 50px;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(18, 43, 67);
    border-radius: 10px;
}
