/* NOTICIA FLOTANTE*/

.noticias {
    display: none;
}

.noticias {
    display: none;
}

.noticias:target {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
}

.noticias p {
    margin-left: 400px;
    margin-right: 400px;
    text-align: justify;
}

.noticias h2 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}

.imagen-noticias {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-right: 25px;
    position: absolute;
}

.imagen-noticias a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.cerrar {
    display: block;
    background: #000;
    width: 25px;
    height: 25px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    line-height: 15px;
}


/*-------------------PATROCINADORES (ya no lo usamos)---------------------------*/

.partners {
    width: 70%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: auto;
    display: flex;
    flex-wrap: wrap;
}

.partners img {
    width: 200px;
    height: 150px;
}

.partners p {
    color: #000;
    text-align: center;
    padding: 10px;

}

div.plogo {
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 rgba(0, 0, 0, 19);
    float: left;
    width: 200px;
    height: 200px;
}


/* ÚLTIMAS NOTICIAS (ya no lo usamos) */


.ultimas {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ultimas img {
    width: 350px;
    height: 350px;
}

.ultimas p {
    color: #000;
    text-align: center;
    padding: 10px;

}

div.not {
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 rgba(0, 0, 0, 19);
    float: left;
    width: 350px;
}
